Makefile
Makefile.in
*~
.DS_Store
*.rej
*.orig
*.tar.gz
*.tar.gz.sha256
aclocal.m4
autom4te.cache
configure
conftools
config.log
config.status
var
CHANGES
README
thirdparty/*
!thirdparty/Makefile.am
!thirdparty/cpanfile-*.snapshot
etc
!etc/ooceapps.conf.dist
!etc/Makefile.am
