{
    "MODULES" : {
        "invoice" : {
            "lualatex"   : "/opt/ooce/texlive/bin/lualatex",
            "email_from" : "patrons@omniosce.org",
            "email_bcc"  : "patrons@omniosce.org",
            "key_path"   : "./invoice_sec.key",
            "quote_fee"  : "50",
            "create_url" : "https://apps.omniosce.org/invoice/create"
        },
        "issue" : {
        },
        "pkgstat" : {
            "logdir"    : "<path_to_logs>",
            "geoip_url" : "https://geolite.maxmind.com/download/geoip/database/GeoLite2-Country.tar.gz"
        },
        "relsuffix" : {
            "releases" : {
                "r151022" : "2017-05-22"
            }
        },
        "pkgupd" : {
            "default" : "core",
            "repos" : {
                "core" : "https://raw.githubusercontent.com/omniosorg/omnios-build/master/doc/packages.md"
            }
        },
        "patron" : {
            "keyPath"        : "./stripe.keys",
            "cancelUrl"      : "https://apps.omniosce.org/patron/cancel",
            "emailFrom"      : "patrons@omniosce.org",
            "emailBcc"       : "patrons@omniosce.org",
            "subCurrencies"  : [ "chf", "usd", "gbp", "eur" ],
            "subIntervals"   : [ "week", "month", "year" ],
            "subDescription" : "OmniOSce Patron"
        },
        "man"    : {
            "mandir" : "/webpage/man"
        },
        "log"    : {
            "logdir"   : "/var/opt/ooce/ooceapps/fenix",
            "channels" : [ "#omnios", "#illumos" ]
        },
        "pss"    : {
            "timeout" : "60"
        }
    }
}
