{
    "MODULES" : {
        "invoice": {
        },
        "pkgstat" : {
            "logdir"    : "<path_to_logs>",
            "geoip_url" : "http://geolite.maxmind.com/download/geoip/database/GeoLiteCountry/GeoIP.dat.gz"
        },
        "relsuffix" : {
            "r151022" : "2017-05-22"
        },
        "pkgupd" : {
            "pkglist_url" : "https://raw.githubusercontent.com/omniosorg/omnios-build/master/doc/packages.md"
        },
        "patron" : {
            "keyPath"        : "./stripe.keys",
            "cancelUrl"      : "https://app.omniosce.org/patron/cancel",
            "emailFrom"      : "patrons@omniosce.org",
            "emailBcc"       : "patrons@omniosce.org",
            "subCurrencies"  : [ "chf", "usd", "gbp", "eur" ],
            "subIntervals"   : [ "week", "month", "year" ],
            "subDescription" : "OmniOSce Patron"
        }
    }
}
